<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Error 404</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="error.css">
    </head>
    <body>
       <center>
        <h1>Error 404</h1>
           <p>Page not found please navigate home </p> 
           <a href="/home" class="button">Home</a>
        </center>     

        

    </body>
</html>