<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>About</title>
</head>
<body>
    <div class="topnav">
        <a href="/home">Home</a>
        <a href="/contact">Contact</a>
        <a class="active" href="/about">About</a>
        <a href="/signup">SignUp</a>
        <a href="/login">Login</a>
      </div>
      <h2>About Sassy Chat</h2>
       <p><b>This site is codced by two people trying to make a private chat that is great.</b></p>
</body>
</html>
