/* General Styles */
body {
    background-color: black;
    font-size: 150%;
  height:auto;
  width:auto;
  }
  
  /* Navigation Styles */
  .sidenav {
    height: 60px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  .sidenav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Header Styles */
  h4 {
    text-align: center;
    margin-top: 100px;
  }
  
  /* Audio Grid Styles */
  #audio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 300px;
    justify-content: center;
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  #audio-grid audio {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Footer Styles */
  hr {
    margin: 40px 0;
  }
  
  p {
    text-align: center;
    color: white;
  }
  