<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="home.css">
    <link rel="shortcut icon" href="bees.ico" type="image/x-icon">

</head>
<body>
    <div class="topnav">
        <a href="/home">Home</a>
        <a class="active" href="/contact">Contact</a>
        <a href="/about">About</a>
        <a href="/dashboard">Dashboard</a>
    </div>
    <h2>If you find any issues or have suggestion please submit a issue or enhancement on our github page feedback is always encouraged thank you for checking out this
    project.</h2>
    <br>
    <p>Issues request here:<a href="https://github.com/greengeckowizard/SassyChat/issues">https://github.com/greengeckowizard/SassyChat/issues</a></p>
    <p>For further questions an upcoming email will be created and for support use and troubleshooting</p>
    <hr>
    <p>Please note this project/site is still in a developemental phase so their will be errors if you get any please let us know at the repository issues listed above.</p>
</body>
</html>
