<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="topnav">
        <a href="/home">Home</a>
        <a class="active" href="/contact">Contact</a>
        <a href="/about">About</a>
        <a href="/signup">SignUp</a>
        <a href="/login">Login</a> 
    </div>
    <h2>This is the contact page if you have a question here is an email you can contact us.</h2>
    <br>
    <p>email@email.com</p>
</body>
</html>