<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
      <link rel="shortcut icon" href="bees.ico" type="image/x-icon">
     <link rel="stylesheet" href="dashboard.css">
     <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
     integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
     crossorigin="anonymous"
   />
        <title>Dashboard</title>
      </head>
<body>
 
  <div class="topnav">
    <a href="/home">Home</a>
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
    <a class="active" href="/dashboard">Dashboard</a>
</div>


  
   
   
      <p style="background-color: lightslategray;border-radius: 15px;"><b>Welcome to the dashboard page this is where you can start/join your video and text chats!
    </b></p>
    <P>Text chat isn't peer based yet. Still in development right now</P>
    <form method="get" action="https://cakenuggets.herokuapp.com/chat"><button type="submit" style="background-color: yellowgreen; padding: 2px; font-weight: bolder; color: black;border-radius: 10px;">Text Chat</button></form>
    <p style="background-color: purple;border-radius: 15px;">I am excited to announce that Mobile and Desktop are fully working for Video Calling and Text Chatting in the browser. If you are on PC please connect your camera and microphone first before joining/create the video calls</p>
    <p> To join rooms enter the code from the top url and then press the go button.</p>
    <img src="Join.png" alt="Joinpic">

    
    <script>
      function process()
      {
          var url = "https://cakenuggets.herokuapp.com" + document.getElementById("url").value;
          location.href = url;
          return false;
      }
  </script>
  
  <form onSubmit="return process();">
      <input type="text" name="url" id="url" placeholder="Room Code" required>
      <input type="submit" value="go" >
  </form>
   <p>Hit this video chat button to create a new call room.</p>
<form method="get" action="http://localhost:8080/videochat"><button type="submit" style="background-color: olivedrab; padding: 2px; font-weight: bolder; color:black;border-radius: 10px;">Video Chat</button></form>
    <p style="background-color: orangered;border-radius: 15px;">Audio Chat Coming soon!! Still in development</p>
    <form method="get" action="https://cakenuggets.herokuapp.com/404/"><button type="submit" style="background-color: red; padding:2px; font-weight:bolder; color:black;border-radius: 10px;">Audio Chat</button></form>
</body>
</html>
