<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
     <link rel="stylesheet" href="dashboard.css">
        <title>Dashboard</title>
</head>
<body>
    
   <h2>Dashboard</h2>
   <a href="/home">Home</a>
     <hr> 
     <p style="color:white; background-color: darkred;">Under development stage dashboard temp for now until signup and login features get working.Thank you for using Sassy Chat</p>
     <p style="background-color: chocolate;">Welcome to the Dashboard where you can do your video calls from here
    press the Make Video call button to launch into a new video call room!!
    </p>
    
    <form method="get" action="http://localhost:8080/chat"><button type="submit">Text Chat</button></form>
    <p style="background-color: chocolate;">Video Calling works!! sucessfully merged main!! </p>
    <form method="get" action="http://localhost:8080/videochat"><button type="submit">Video Chat</button></form>
    <p style="background-color: chocolate;">Audio Chat Coming soon!!</p>
    <form method="get" action="http://localhost:8080/404/"><button type="submit">Audio Chat</button></form>
</body>
</html>