h2 {
  color: #FFFF;
}

h3 {
  color: #FFFF;
}

p {
  color: #FFFF;
  padding: 5px;
}

label {
  color: #314141;
}

input {
  border: 2px solid black;
  border-radius: 15px;
  height: auto;
  width: auto;
  background-color: lightgray;
   font-size: 150%;
   

}

.summit {
  border-radius: 15px;
  background-color: #8490da;
  width: auto;
  height: auto;
  cursor: pointer;
}


.summit:hover {
border-radius: 15px;
background-color: #3e3b8a;
  width: auto;
  height: auto;
  cursor: pointer;

}
 
 .butn {
  border-radius: 15px;
  background-color: #8490da;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

 .butn:hover {
  border-radius: 15px;
  background-color: #3e3b8a;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

body {
  
  font-size: auto;
  height:auto;
  width:auto;
  shape-margin: 5% black;
  background-color: black;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;

}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  -webkit-box-shadow: 5px 5px 5px rgba(68, 196, 132, 0.712);
          box-shadow: 5px 5px 5px rgba(68, 196, 132, 0.712);
  width: 80px;
  display: inline-block;
  border-radius: 5px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 5px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #414141;
  color: white;
}