<!--
great job one problem you login with a user name and a password 
not a email and a password.
-->
<html lang="en">
    <head>
        <link rel="stylesheet" href="day.css">
        <link rel="stylesheet" href="night.css">
        <link rel="shortcut icon" href="bees.ico" type="image/x-icon">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        </head>
    <body>
      
        <div class="topnav">
            <a href="/home">Home</a>
            <a href="/contact">Contact</a>
            <a href="/about">About</a>
            <a href="/signup">Sign Up</a>
            <a class="active" href="/login">Login</a>
            <a  href="/dashboard">Dashboard</a>
        </div>
        
        
      
      
      
        <div class = "display">
            
                <h1 style="color: White;">Login</h1>
                <p style="color: white;">Login and Sign Up pages are still in developement as of now.</p>
                <form action="/login" method="post">
                    <div>
                        <div>
                            <label for="email">Your Username: </label><br>
                            <input name="username" id="email" placeholder="Enter your username here" class="text-input"><br><br
                          required> 
                        </div>
                        <div>
                            <label for="password">Your Password: </label><br>
                            <input name="password" type="password" id="password" placeholder="Enter your password here"><br><br>
                        </div>
                       </div>
                    </div>
                    <button type="submit" class="butn" style="height:50px; width: 75px;  font-weight: bold;  font-size: 18px; ">Login</button>
                </form>
         <a href="/signup">
   <input type="button" value="Sign Up Page Here!!" class="butn" />
</a>
<br>
            </div>
        </div>
  
    </body>
   
</html>
