<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="error.css">
    <title>500</title>
</head>
<body>
    <center>
        <h3>Sorry but the server has encountered an error.</h3>
          <p>Please try loading this page in a few minutes</p>
    </center>
</body>
</html>